html,body {
    
}

.container div {
    display: inline-block;
    margin-top: 0;
}

#header {
    margin-top: 0;
}

img {
    height: 150px;
    width: 100px;
    border: 3px solid black;
    border-radius: 20%;
}